

/*Uncomment the follwoing lines to move facets to the left*/


prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}

.screen-gt-sm .sidebar {
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}

.default-card a {
  border-width: 3px;
  border-style: solid;
  border-color: white;
  border-radius: 6px;
  &:hover{
    border-color: #5c92bd;
  }
}

.icon {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-bottom: 17px;
  padding-top: 18px;
}

.icon-renew {  
  background-image: url('/primo-explore/custom/MATT_TEST/img/icon-renew.png');
}

.icon-ask { 
  background-image: url('/primo-explore/custom/MATT_TEST/img/icon-ask.png');  
}

.icon-libweb {
  background-image: url('/primo-explore/custom/MATT_TEST/img/icon-libweb.png');  
}

.icon-databases {
  background-image: url('/primo-explore/custom/MATT_TEST/img/icon-databases.png');  
}

.icon-eJournals {
  background-image: url('/primo-explore/custom/MATT_TEST/img/icon-eJournals.png'); 
}

.icon-libguides {
  background-image: url('/primo-explore/custom/MATT_TEST/img/icon-libguides.png');  
}

#live-chat {
  background-color: #999 !important; 
}

/* Top Bar */

/* hide labguage selection */
prm-change-lang {
  display: none;
}

/* Logo clickable changes */
prm-logo div.product-logo {
    display:none;
}
 
prm-logo div.product-logo-local {
 display: flex;
}

/* scratch pad */
md-fab-actions.md-toolbar-tools {
  background-color: red;
}

div.hide-xs.flex-50 {
  background-color: blue;
}

div.flex-xs-100.flex-50:nth-of-type(2):not(.flex-xs) {
  background-color: green;
}

/*button.user-menu-button.md-button.md-primoExplore-theme.md-ink-ripple.hide-xs{
  display: none;
}*/

button.button-with-icon:not(.switch-to-advanced) {
  background-color: yellow;
}

prm-search-bookmark-filter {
  background-color: cyan;
}

/*

