




/* Call the clickable logo */
/* prm-logo div.product-logo {
    display:none;
}*/
prm-logo div.product-logo-local {
display: flex;
}
prm-logo .logo-image, prm-logo img {
    max-height: 100%;
}


/* Attempt to hide the 'Recommendations' side bar in the Full View of article-level result */

prm-recommendations {
	display: none;
}
